<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.entrega2_das">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

<!--    <uses-feature-->
<!--        android:name="android.hardware.camera2.full"-->
<!--        android:required="true" />-->
<!--    <uses-feature-->
<!--        android:name="android.hardware.camera"-->
<!--        android:required="true" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_wit"
        android:label="WIT?"
        android:roundIcon="@mipmap/ic_wit_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Principal.MiPerfil"
            android:theme="@style/ThemeNPMP" />
        <activity
            android:name=".Principal.NuevaPublicacion" />
        <activity
            android:name=".Principal.MenuPrincipal"
            android:theme="@style/ThemeMenuPrincipal"/>
        <activity
            android:name=".InicioRegistro.RegistroFoto"
            android:theme="@style/ThemeRegistroFoto"/>
        <activity
            android:name=".InicioRegistro.Registro"
            android:theme="@style/ThemeRegistro"/>
        <activity
            android:name=".InicioRegistro.InicioSesion"
            android:theme="@style/ThemeInicioSesion"
            android:parentActivityName=".Principal.MainActivity">
            <intent-filter>
                <action android:name="AVISO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Principal.MainActivity"
            android:theme="@style/ThemeMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Firebase.ServicioFirebase"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
<!--            android:resource="@mipmap/ic_wit_round" />-->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_color"-->
<!--            android:resource="@color/white" />-->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_channel_id"-->
<!--            android:value="canal por defecto" />-->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>